<h1>List of articles if DB is populated:</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <strong><%= article.title %></strong><br />
      <%= article.content %>
    </li>
  <% end %>
</ul>
